<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BOOK STORE</title>
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/admin/style.css" />
    <link rel="stylesheet" href="/css/sales/output.css" />
    {{{_blocks.css}}}

  </head>
  <body>
    <div class="container">
      <!-- side bar -->
      {{>menuadmin}}

      <div class="main">
        <!-- nav bar -->
        <div class="topbar">
          <div class="toggle">
            <i class="fas fa-bars"></i>
          </div>

          <div class="user">
            <a href="#"><img src="/img/user.jpg" class="user-pic" /></a>
          </div>
        </div>

        {{{body}}}

      </div>
    </div>

    {{!-- <script src="/js/script.js"></script> --}}
    {{{_blocks.js}}}
  </body>
</html>